header.header {
  text-align: center;
  height: 400px;
  width: 100%;
  background-color: #db7100;
  background-image: url(http://www.transparenttextures.com/patterns/3px-tile.png);
  color: #ffffff;
  position: relative;
}

div img {
  width: 200px;
  height: 200px;
  position: relative;
  top: 120px;
}

div h2 {
  margin-top: 120px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 1024px) {
  header.header {
    float: left;
    width: 30%;
    margin-top: 160px;
    margin-left: 40px;
  }

  header div {
    margin-top: -10%;
  }
}
