nav {
  height: 120px;
  position: fixed;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background: #4056a1;
  color: #ffffff;
  z-index: 1;
  padding: 1.5em;
}
nav button {
  background-color: #4056a1;
  color: #ffffff;
  border-color: #4056a1;
  float: right;
  opacity: 0.8;
}

nav button:hover {
  background-color: #4056a1;
  color: #ffffff;
  border-color: #4056a1;
  float: right;
  opacity: 1;
  cursor: pointer;
}

nav p {
  margin: 0;
  float: right;
}
nav span {
  font-family: 'Bungee', cursive, sans-serif;
}
